Bootcamp de arquiteto de bigdata da IGTI

trabalho partico modulo 1

In [52]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/desenvolvedorjairomonassa/bootcamp_arq_bigdata/main/base_custo_diaria%20-%20TP.csv",sep=';',encoding='latin-1')

In [53]:
df

    qtd_pessoas  valor_diaria
0             1           150
1             3           200
2             4           650
3             6           499
4             7           549
5            10           980
6            12           700
7            13           735
8            15           859
9            16           900
10           20          1100
11           18           989
12           22          1075
13           23          1378
14           25          1500
15           27          1755
16           30          1850
17           32          2500
18           33          2000
19           40          1900
20           42          2089
21           43          2500
22           45          2250
23           47          2488
24           50          2680
25           51          2803
26           52          2890
27           53          3040
28           58          3150
29           60          3300

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   qtd_pessoas   30 non-null     int64
 1   valor_diaria  30 non-null     int64
dtypes: int64(2)
memory usage: 608.0 bytes

In [55]:
# estatisticas descritivas
df.describe()

       qtd_pessoas  valor_diaria
count    30.000000     30.000000
mean     28.600000   1648.633333
std      18.189804    950.522197
min       1.000000    150.000000
25%      13.500000    869.250000
50%      26.000000   1627.500000
75%      44.500000   2497.000000
max      60.000000   3300.000000

In [56]:
import numpy as np
#Qual o valor de correlação entre as variáveis qtd_pessoas e valor da diária?
np.corrcoef(df.iloc[:,0].values,df.iloc[:,1].values)

array([[1.        , 0.97866601],
       [0.97866601, 1.        ]])

In [57]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [58]:
x = df.iloc[:,0].values.reshape(-1,1)
y = df.iloc[:,1].values
linear.fit(x,y)

LinearRegression()

In [59]:
#Qual o valor retornado intercept da previsão?
linear.intercept_

186.00229281307384

In [60]:
#Qual o valor da previsão realizada pelo modelo de regressão para a qtd_pessoas = 20 e 57 ?
linear.predict([[20],[57]])

array([1208.82120227, 3101.03618476])

In [61]:
#Qual a difença entre o valor predito e o valor real do valor da diária para a quantidade de pessoas = 25
real = df.loc[df.qtd_pessoas == 25].valor_diaria.values[0] # valor real
predito = linear.predict([[25]])[0] #valor predito
#diferença 
print (real-predito)

35.47407036851746

In [62]:
#score
linear.score(x,y)

0.9577871649322629

In [63]:
#Qual o valor obtido para mean_absolute_error?
from sklearn.metrics import mean_absolute_error
previsao = linear.predict(x)
mean_absolute_error(y,previsao)

138.91296481574125