# Bootcamp de arquiteto de BigData da IGTI
#Autor : Jairo Monassa
desafio final do m√≥dulo 1

In [1]:
import pandas as pd
#lendo arquivo csv , dados dos clientes
df_clientes = pd.read_csv('https://raw.githubusercontent.com/desenvolvedorjairomonassa/bootcamp_arq_bigdata/main/modulo1/dados_clientes.csv',sep=',')

In [2]:
# 5 primeiras linhas
df_clientes.head(5)

   id_cliente   peso  colesterol     genero  id_estado
0           1  102.0         111  Masculino         23
1           2  115.0         135  Masculino          7
2           3  115.0         136  Masculino          4
3           4  140.0         167   Feminino         24
4           5  130.0         158  Masculino         26

In [3]:
#lendo arquivo csv , idade dos clientes
df_idades = pd.read_csv('https://raw.githubusercontent.com/desenvolvedorjairomonassa/bootcamp_arq_bigdata/main/modulo1/idade_clientes.csv',sep=';')

In [4]:
df_idades.head(3)

   id_cliente  idade
0           1     17
1           2     28
2           3     62

In [5]:
#tamanho
df_idades.shape

(547, 2)

In [6]:
#verifica se tem duplicatas
len(df_idades['id_cliente'].unique())

547

In [7]:
#tamanho do cliente
df_clientes.shape

(547, 5)

In [8]:
#merge das duas tabelas
merge_clientes = df_clientes.merge(df_idades,  how='inner',  left_on='id_cliente', right_on='id_cliente')

In [9]:
merge_clientes.head()

   id_cliente   peso  colesterol     genero  id_estado  idade
0           1  102.0         111  Masculino         23     17
1           2  115.0         135  Masculino          7     28
2           3  115.0         136  Masculino          4     62
3           4  140.0         167   Feminino         24     55
4           5  130.0         158  Masculino         26     44

In [10]:
# verificar se foi tudo asociado
merge_clientes.shape

(547, 6)

In [11]:
#lendo arquivo de estados
estado = pd.read_csv('https://raw.githubusercontent.com/desenvolvedorjairomonassa/bootcamp_arq_bigdata/main/modulo1/estados_brasileiros.csv',sep=';', encoding= 'latin1')

In [12]:
estado.head()

   id_estado    estado sigla_estado    pais
0          1      Acre           ac  Brasil
1          2   Alagoas           al  Brasil
2          3     Amap√°           ap  Brasil
3          4  Amazonas           am  Brasil
4          5     Bahia           ba  Brasil

In [13]:
estado.shape

(27, 4)

In [14]:
#merge das duas tabelas
clientes = merge_clientes.merge(estado,  how='inner',  left_on='id_estado', right_on='id_estado')

In [15]:
clientes.shape

(547, 9)

In [16]:
clientes.sort_values('id_cliente')

,id_cliente,peso,colesterol,genero,id_estado,idade,estado,sigla_estado,pais
0,1,102.0,111,Masculino,23,17,Roraima,rr,Brasil
18,2,115.0,135,Masculino,7,28,Distrito Federal,df,Brasil
40,3,115.0,136,Masculino,4,62,Amazonas,am,Brasil
65,4,140.0,167,Feminino,24,55,Santa Catarina,sc,NaN
87,5,130.0,158,Masculino,26,44,Sergipe,se,Brasil
...,...,...,...,...,...,...,...,...,...
443,543,172.0,207,Masculino,22,20,Rond√¥nia,ro,Brasil
478,544,129.0,157,Masculino,1,66,Acre,ac,Brasil
178,545,107.0,115,Masculino,6,36,Cear√°,ce,Brasil
396,546,117.0,147,Masculino,20,57,Rio Grande do Norte,rn,Brasil
123,547,148.0,176,Masculino,8,61,Esp√≠rito Santo,es,Brasil

In [26]:
clientes.reset_index(drop=True)

,id_cliente,peso,colesterol,genero,id_estado,idade,estado,sigla_estado,pais
0,1,102.000000,111,Masculino,23,17,Roraima,rr,Brasil
1,54,149.000000,183,Masculino,23,48,Roraima,rr,Brasil
2,61,113.000000,129,Feminino,23,70,Roraima,rr,Brasil
3,147,143.440959,171,Masculino,23,40,Roraima,rr,Brasil
4,154,134.000000,162,Feminino,23,26,Roraima,rr,Brasil
...,...,...,...,...,...,...,...,...,...
542,452,117.000000,138,Feminino,19,61,Rio de Janeiro,rj,Brasil
543,454,106.000000,115,Masculino,19,70,Rio de Janeiro,rj,Brasil
544,510,110.000000,120,Feminino,19,48,Rio de Janeiro,rj,Brasil
545,516,166.000000,200,Feminino,19,47,Rio de Janeiro,rj,Brasil
546,523,103.000000,110,Masculino,19,26,Rio de Janeiro,rj,Brasil

In [31]:
clientes.head(10)

,id_cliente,peso,colesterol,genero,id_estado,idade,estado,sigla_estado,pais
0,1,102,111,Masculino,23,17,Roraima,RR,Brasil
1,54,149,183,Masculino,23,48,Roraima,RR,Brasil
2,61,113,129,Feminino,23,70,Roraima,RR,Brasil
3,147,143,171,Masculino,23,40,Roraima,RR,Brasil
4,154,134,162,Feminino,23,26,Roraima,RR,Brasil
5,164,133,155,Feminino,23,51,Roraima,RR,Brasil
6,197,115,135,Masculino,23,32,Roraima,RR,Brasil
7,202,146,179,Masculino,23,31,Roraima,RR,Brasil
8,204,125,148,Feminino,23,21,Roraima,RR,Brasil
9,228,124,151,Masculino,23,25,Roraima,RR,Brasil

In [18]:
# estatisticas descritivas
clientes.describe()

       id_cliente        peso  colesterol   id_estado       idade
count   547.00000  542.000000  547.000000  547.000000  547.000000
mean    274.00000  143.440959  170.433272   13.833638   42.791590
std     158.04957   30.836868   39.147189    7.593117   15.160209
min       1.00000   95.000000  102.000000    1.000000   16.000000
25%     137.50000  116.000000  136.000000    7.000000   30.000000
50%     274.00000  140.000000  169.000000   13.000000   42.000000
75%     410.50000  171.000000  208.000000   20.000000   55.000000
max     547.00000  203.000000  235.000000   27.000000   70.000000

In [19]:
clientes['estado'].unique()

array(['Roraima', 'Distrito Federal', 'Amazonas', 'Santa Catarina',
       'Sergipe', 'Esp√≠rito Santo', 'S√£o Paulo', 'Paran√°', 'Cear√°',
       'Amap√°', 'Pernambuco', 'Par√°', 'Tocantins', 'Bahia', 'Para√≠ba',
       'Alagoas', 'Mato Grosso', 'Maranh√£o', 'Rio Grande do Sul',
       'Rio Grande do Norte', 'Minas Gerais', 'Rond√¥nia', 'Piau√≠', 'Acre',
       'Goi√°s', 'Mato Grosso do Sul', 'Rio de Janeiro'], dtype=object)

In [20]:
#Qual √© a m√©dia de idades dos clientes de modo geral? 
round(clientes['idade'].mean(),2)

42.79

In [21]:
#Existem valores ausente na base? 
clientes.isna().sum()

id_cliente       0
peso             5
colesterol       0
genero           0
id_estado        0
idade            0
estado           0
sigla_estado     0
pais            45
dtype: int64

In [22]:
#valores nulos nos clientes
print(df_clientes.isna().sum())

id_cliente    0
peso          5
colesterol    0
genero        0
id_estado     0
dtype: int64

In [23]:
#existem nos valroes nulos
print(estado.isna().sum())

id_estado       0
estado          0
sigla_estado    0
pais            2
dtype: int64

In [206]:
#valores nulos nos idades
print(df_idades.isna().sum())

id_cliente    0
idade         0
dtype: int64

In [24]:
#usando o kmeans- algoritmo n√£o supervisionado
!pip install sklearn
from sklearn.cluster import KMeans

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.5)

In [25]:
#preencher peso com nulos ou dropar
clientes.peso.fillna(clientes['peso'].mean(), inplace=True)
clientes.describe()

       id_cliente        peso  colesterol   id_estado       idade
count   547.00000  547.000000  547.000000  547.000000  547.000000
mean    274.00000  143.440959  170.433272   13.833638   42.791590
std     158.04957   30.695348   39.147189    7.593117   15.160209
min       1.00000   95.000000  102.000000    1.000000   16.000000
25%     137.50000  116.000000  136.000000    7.000000   30.000000
50%     274.00000  140.000000  169.000000   13.000000   42.000000
75%     410.50000  171.000000  208.000000   20.000000   55.000000
max     547.00000  203.000000  235.000000   27.000000   70.000000

In [210]:
#dropar valores nulos 
#clientes.dropna(subset=['peso','colesterol'], inplace=True)

In [235]:
clientes.isna().sum()

id_cliente       0
peso             0
colesterol       0
genero           0
id_estado        0
idade            0
estado           0
sigla_estado     0
pais            45
dtype: int64

In [236]:
clientes.shape

(547, 9)

In [27]:
clientes['peso'] = clientes['peso'].astype(int)
clientes['colesterol'] = clientes['colesterol'].astype(int)
clientes

,id_cliente,peso,colesterol,genero,id_estado,idade,estado,sigla_estado,pais
0,1,102,111,Masculino,23,17,Roraima,rr,Brasil
1,54,149,183,Masculino,23,48,Roraima,rr,Brasil
2,61,113,129,Feminino,23,70,Roraima,rr,Brasil
3,147,143,171,Masculino,23,40,Roraima,rr,Brasil
4,154,134,162,Feminino,23,26,Roraima,rr,Brasil
...,...,...,...,...,...,...,...,...,...
542,452,117,138,Feminino,19,61,Rio de Janeiro,rj,Brasil
543,454,106,115,Masculino,19,70,Rio de Janeiro,rj,Brasil
544,510,110,120,Feminino,19,48,Rio de Janeiro,rj,Brasil
545,516,166,200,Feminino,19,47,Rio de Janeiro,rj,Brasil
546,523,103,110,Masculino,19,26,Rio de Janeiro,rj,Brasil

In [30]:
clientes['sigla_estado'] = clientes.sigla_estado.str.upper()

In [28]:
clientes['colesterol'].isna().sum()

0

In [29]:
clientes.iloc[:,[1,2]]

     peso  colesterol
0     102         111
1     149         183
2     113         129
3     143         171
4     134         162
..    ...         ...
542   117         138
543   106         115
544   110         120
545   166         200
546   103         110

[547 rows x 2 columns]

In [32]:
agrupar = clientes.iloc[:,[1,2]].values
agrupar

array([[102, 111],
       [149, 183],
       [113, 129],
       ...,
       [110, 120],
       [166, 200],
       [103, 110]])

In [173]:
# normalizar
from sklearn.preprocessing import StandardScaler

In [223]:
#normalized = StandardScaler()
#agrupar = normalized.fit_transform( agrupar)
#agrupar

array([[-1.34511853, -1.51422421],
       [ 0.18043908,  0.32490077],
       [-0.98807313, -1.05444297],
       ...,
       [-1.08544915, -1.28433359],
       [ 0.73223651,  0.75913861],
       [-1.31265986, -1.53976762]])

In [33]:
kmeans_clientes = KMeans(n_clusters=9,random_state=0)
kmeans_clientes.fit(agrupar)
kmeans_clientes.inertia_

19238.381048133306

In [34]:
wcss=[]
for i in range(1,5):
  kmeans_clientes = KMeans(n_clusters=i,random_state=0)
  kmeans_clientes.fit(agrupar)
  wcss.append(kmeans_clientes.inertia_)
wcss

[1351190.8884826328, 332541.90136384487, 142790.35488319735, 83539.94482332117]

In [35]:
kmeans_clientes = KMeans(n_clusters=4,random_state=0)
agrupado = kmeans_clientes.fit_predict(agrupar)
agrupado

array([2, 3, 2, 0, 0, 0, 2, 3, 0, 0, 0, 1, 1, 2, 3, 1, 0, 0, 2, 3, 1, 0,
       3, 1, 2, 1, 1, 1, 2, 1, 1, 0, 1, 0, 2, 2, 2, 1, 2, 3, 2, 2, 2, 3,
       0, 2, 2, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 1, 2, 3, 3, 2, 2, 3, 1, 0,
       2, 3, 1, 3, 0, 3, 0, 3, 1, 2, 0, 3, 2, 3, 2, 0, 2, 1, 2, 1, 1, 0,
       2, 0, 2, 0, 0, 2, 3, 1, 1, 1, 0, 3, 0, 0, 1, 0, 3, 0, 1, 3, 0, 3,
       2, 1, 2, 1, 0, 1, 0, 3, 3, 0, 1, 0, 2, 3, 3, 0, 3, 1, 1, 0, 1, 2,
       2, 3, 0, 1, 1, 2, 3, 0, 2, 0, 2, 3, 2, 0, 1, 2, 1, 2, 1, 1, 1, 2,
       1, 1, 1, 0, 2, 1, 1, 0, 0, 2, 2, 2, 3, 0, 1, 0, 2, 2, 1, 0, 3, 1,
       0, 3, 2, 2, 2, 2, 0, 0, 0, 2, 1, 0, 3, 1, 1, 1, 1, 2, 2, 1, 3, 0,
       1, 3, 2, 3, 1, 3, 0, 0, 3, 1, 3, 3, 2, 2, 1, 3, 1, 0, 1, 1, 1, 1,
       3, 0, 1, 0, 2, 0, 2, 3, 1, 2, 3, 0, 2, 0, 1, 3, 1, 1, 3, 1, 0, 0,
       3, 1, 0, 2, 3, 3, 0, 2, 2, 1, 1, 0, 3, 3, 0, 0, 3, 0, 1, 0, 2, 1,
       2, 2, 1, 0, 1, 2, 0, 0, 2, 0, 0, 2, 1, 2, 0, 3, 0, 3, 2, 2, 1, 2,
       3, 0, 1, 1, 3, 1, 0, 1, 1, 1, 2, 3, 1, 2, 1, 3, 1, 3, 0, 2, 2, 2,
       1, 0, 2, 0, 0, 0, 2, 1, 3, 1, 1, 3, 1, 1, 1, 0, 1, 0, 2, 3, 1, 3,
       1, 0, 1, 0, 2, 2, 1, 0, 0, 2, 3, 0, 2, 2, 1, 1, 2, 1, 2, 3, 2, 2,
       2, 3, 1, 3, 1, 3, 0, 2, 2, 1, 3, 0, 3, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       2, 3, 2, 2, 1, 1, 1, 3, 3, 2, 0, 2, 2, 2, 3, 0, 2, 3, 2, 1, 0, 1,
       0, 3, 1, 2, 3, 3, 3, 0, 3, 1, 0, 0, 2, 2, 3, 0, 1, 3, 0, 2, 0, 1,
       2, 2, 2, 1, 0, 3, 3, 3, 3, 2, 2, 3, 2, 0, 2, 2, 3, 1, 3, 0, 2, 3,
       0, 1, 1, 1, 2, 1, 2, 1, 0, 3, 0, 2, 2, 0, 0, 1, 0, 0, 0, 0, 2, 3,
       0, 1, 1, 0, 3, 2, 3, 0, 0, 3, 1, 0, 3, 0, 1, 2, 0, 0, 2, 0, 0, 2,
       2, 2, 2, 0, 3, 3, 3, 0, 0, 0, 0, 2, 0, 0, 2, 2, 1, 2, 3, 0, 2, 2,
       2, 0, 1, 2, 3, 2, 3, 0, 0, 1, 0, 1, 3, 0, 0, 0, 3, 3, 3, 3, 2, 0,
       2, 1, 1, 0, 0, 3, 2, 0, 2, 0, 1, 1, 1, 3, 2, 2, 2, 3, 2],
      dtype=int32)

In [42]:
#clientes['cluster'] = agrupado 
clientes.groupby('cluster')['cluster'].count()

cluster
0    145
1    145
2    147
3    110
Name: cluster, dtype: int64

In [44]:
centroides = kmeans_clientes.cluster_centers_
centroides

array([[130.11724138, 157.09655172],
       [185.02758621, 219.6137931 ],
       [107.31292517, 120.44217687],
       [154.44545455, 189.99090909]])

In [48]:
centroides[:,0]
centroides[:,1]

array([157.09655172, 219.6137931 , 120.44217687, 189.99090909])

In [56]:
clientes['risco'] = 0

In [43]:
import plotly.express as px
import plotly.offline as py
import plotly.graph_objects as go

In [51]:
grafico = px.scatter(x=clientes['peso'], y=clientes['colesterol'],color=clientes['cluster'])
grafico_center = px.scatter(x = centroides[:,0], y=centroides[:,1], size=[7,7,7,7])
grafico_final = go.Figure(data=grafico.data + grafico_center.data)
grafico_final.show()

1. Alto Risco => cluster= 1
2. Risco Moderado alto => cluester =3
3. Risco Moderado baixo => cluster = 0 
4. Baixo Risco => cluster= 2

In [57]:
clientes.loc[clientes['cluster']==1,'risco'] = 1  #alto risco
clientes.loc[clientes['cluster']==3,'risco'] = 2  #moderado alto 
clientes.loc[clientes['cluster']==0,'risco'] = 3  #moderado baixo
clientes.loc[clientes['cluster']==2,'risco'] = 4  #baixo risco
clientes

,id_cliente,peso,colesterol,genero,id_estado,idade,estado,sigla_estado,pais,risco,cluster
0,1,102,111,Masculino,23,17,Roraima,RR,Brasil,4,2
1,54,149,183,Masculino,23,48,Roraima,RR,Brasil,2,3
2,61,113,129,Feminino,23,70,Roraima,RR,Brasil,4,2
3,147,143,171,Masculino,23,40,Roraima,RR,Brasil,3,0
4,154,134,162,Feminino,23,26,Roraima,RR,Brasil,3,0
...,...,...,...,...,...,...,...,...,...,...,...
542,452,117,138,Feminino,19,61,Rio de Janeiro,RJ,Brasil,4,2
543,454,106,115,Masculino,19,70,Rio de Janeiro,RJ,Brasil,4,2
544,510,110,120,Feminino,19,48,Rio de Janeiro,RJ,Brasil,4,2
545,516,166,200,Feminino,19,47,Rio de Janeiro,RJ,Brasil,2,3
546,523,103,110,Masculino,19,26,Rio de Janeiro,RJ,Brasil,4,2

In [74]:
#Qual o valor do centroide para o grupo de alto risco? Leve em considera√ß√£o as vari√°veis na seguinte sequ√™ncia: peso e colesterol. 
# alto risco = cluster = 1
centroides[1]

array([185.02758621, 219.6137931 ])

In [58]:
#Qual a m√©dia de idades para o cluster de Risco Moderado baixo?  
print('Media idade risco moderado alto s%' ,clientes.loc[clientes['risco'] == 2]['idade'].mean()) #Risco Moderado alto
print('Media idade risco moderado baixo s%' ,clientes.loc[clientes['risco'] == 3]['idade'].mean()) #Risco Moderado baixo
print('Media idade risco moderado baixo/alto s%' ,clientes.loc[(clientes['risco'] == 3)|(clientes['risco'] == 2)]['idade'].mean())

Media idade risco moderado alto s% 42.554545454545455
Media idade risco moderado baixo s% 42.33103448275862
Media idade risco moderado baixo/alto s% 42.42745098039216

In [59]:
#Qual o valor m√≠nimo do colesterol coletado para o grupo de baixo Risco? 
clientes.loc[clientes['risco'] == 4]['colesterol'].min()

102

In [60]:
#Qual o peso m√°ximo presente no cluster de alto risco?
clientes.loc[clientes['risco'] == 1]['peso'].max()

203

In [72]:
#Qual‚ÄØo‚ÄØestado‚ÄØcom‚ÄØmaior‚ÄØn√∫mero‚ÄØde‚ÄØpessoas‚ÄØque‚ÄØest√£o‚ÄØno‚ÄØgrupo‚ÄØde‚ÄØalto‚ÄØrisco? 
clientes.loc[clientes['risco'] == 1].groupby('estado')['estado'].count().sort_values(ascending=False).head(3)

estado
Rio Grande do Sul    9
Distrito Federal     9
Cear√°                8
Name: estado, dtype: int64

In [65]:
#Qual‚ÄØa‚ÄØm√©dia‚ÄØdos‚ÄØpesos‚ÄØpara‚ÄØo‚ÄØgrupo‚ÄØde‚ÄØrisco‚ÄØmoderado‚ÄØalto?
clientes.loc[clientes['risco'] == 2]['peso'].mean()

154.44545454545454

In [66]:
#O grupo de alto risco possui m√©dia maior de colesterol para o g√™nero feminino em compara√ß√£o ao g√™nero masculino.(Verdade)
clientes.loc[clientes['risco'] == 1].groupby('genero')['colesterol'].mean()

genero
Feminino     221.000000
Masculino    218.607143
Name: colesterol, dtype: float64

In [68]:
#O grupo de baixo risco possui 76 pessoas do g√™nero feminino. Falso
clientes.loc[clientes['risco'] == 4].groupby('genero')['genero'].count()

genero
Feminino     66
Masculino    81
Name: genero, dtype: int64