In [50]:
#importando pandas
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/desenvolvedorjairomonassa/bootcamp_arq_bigdata/main/modulo2/pessoas.csv",sep=',',encoding='utf-8')

In [51]:
df

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,1/1/2020,Masculino,4/25/1981,peixe,frio,Cerveja,Praticar esporte
1,10141860,1/1/2020,Feminino,1/19/1966,peixe,quente,Café,Assistir TV
2,10142548,1/1/2020,Masculino,8/2/1973,tartaruga,frio,Café,Ler livros
3,10142591,1/1/2020,Masculino,3/5/1997,gato,moderado,Cerveja,Aprender algo novo
4,10142654,1/1/2020,Feminino,8/5/1969,tartaruga,moderado,Café,Assistir TV
...,...,...,...,...,...,...,...,...
2122,10142475,12/31/2020,Masculino,5/30/1955,peixe,quente,Café,Praticar esporte
2123,10142522,12/31/2020,Masculino,12/22/1954,peixe,moderado,Cerveja,Praticar esporte
2124,10142881,12/31/2020,Masculino,7/30/1952,gato,frio,refrigerante,Assistir TV
2125,10143184,12/31/2020,Masculino,6/5/1984,tartaruga,quente,refrigerante,Pintar quadros
2126,10143307,12/31/2020,Masculino,8/29/1971,tartaruga,moderado,refrigerante,Pintar quadros

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cod_pessoa        2127 non-null   int64
 1   data_coleta       2127 non-null   object
 2   genero            2127 non-null   object
 3   data_nascimento   2127 non-null   object
 4   animal_estimacao  2127 non-null   object
 5   clima             2127 non-null   object
 6   bebida_favorita   2127 non-null   object
 7   hobbies           2127 non-null   object
dtypes: int64(1), object(7)
memory usage: 133.1+ KB

In [53]:
#Quantas pessoas do gênero masculino gostam de tartaruga? 
df.loc[(df['genero']=='Masculino')&(df['animal_estimacao']=='tartaruga')]['animal_estimacao'].count()

268

In [54]:
#conversão simples de data ano-mes-dia
df['data_coleta'] = pd.to_datetime(df['data_coleta'])
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'], infer_datetime_format=True)

In [55]:
import datetime
def age(born):
  today = datetime.date.today()
  return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

df['idade'] = df['data_nascimento'].map(lambda x: age(x))

In [56]:
df

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies,idade
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte,40
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV,56
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros,48
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo,25
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV,52
...,...,...,...,...,...,...,...,...,...
2122,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte,66
2123,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte,67
2124,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV,69
2125,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros,37
2126,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros,50

In [57]:
#tamanho
df.shape

(2127, 9)

In [58]:
#numero de homes que gostam de cerveja
print(df.loc[(df['genero']=='Masculino')&(df['bebida_favorita']=='Cerveja')]['cod_pessoa'].count())
#Qual a média de idade dos homens que gostam de cerveja e clima quente? 
df.loc[(df['genero']=='Masculino')&(df['bebida_favorita']=='Cerveja')&(df['clima']=='quente')]['idade'].mean()

250

45.671052631578945

In [59]:
#Qual o hobbie de menor preferência entre os homens?
df.loc[(df['genero']=='Masculino')].groupby('hobbies')['hobbies'].count().sort_values(ascending=True).head(1)

hobbies
Escutar música    153
Name: hobbies, dtype: int64

In [60]:
#Qual o hobbie de menor preferência entre as mulheres que gostam de tartaruga? 
filtrando = df.loc[(df['genero']=='Feminino')&(df['animal_estimacao']=='tartaruga')]
#agrupando
agrupando  = filtrando.groupby('hobbies')['hobbies'].count()
#ordenando 
agrupando.sort_values(ascending=True).head(1)

hobbies
Dormir    11
Name: hobbies, dtype: int64

In [61]:
#Qual a bebida favorita entre os mulheres e homens? respectivamente?
f=df.loc[(df['genero']=='Feminino')].groupby(['bebida_favorita','genero'])['genero'].count().sort_values(ascending=False).head(1)
m=df.loc[(df['genero']=='Masculino')].groupby(['bebida_favorita','genero'])['genero'].count().sort_values(ascending=False).head(1)
print(f)
print(m)

bebida_favorita  genero
Cerveja          Feminino    138
Name: genero, dtype: int64
bebida_favorita  genero
Café             Masculino    258
Name: genero, dtype: int64

In [62]:
#Qual é a média de idade das pessoas que têm como hobbie assistir TV? 
df.loc[(df['hobbies']=='Assistir TV')]['idade'].mean()

45.77566539923954

In [63]:
#Quantas pessoas têm como hobbie pintar quadros e qual média de idade delas, respectivamente? 
df.loc[(df['hobbies']=='Pintar quadros')]['idade'].describe()

count    260.000000
mean      46.007692
std       14.763513
min       22.000000
25%       32.750000
50%       45.000000
75%       58.250000
max       72.000000
Name: idade, dtype: float64

In [64]:
#Quantas pessoas, de modo geral, gostam de gatos?  
df.loc[df['animal_estimacao']=='gato'].count()

cod_pessoa          864
data_coleta         864
genero              864
data_nascimento     864
animal_estimacao    864
clima               864
bebida_favorita     864
hobbies             864
idade               864
dtype: int64

In [65]:
#Quantas pessoas do gênero masculino gostam de peixe? 
df.loc[(df['genero']=='Masculino')&(df['animal_estimacao']=='peixe')].count()

cod_pessoa          274
data_coleta         274
genero              274
data_nascimento     274
animal_estimacao    274
clima               274
bebida_favorita     274
hobbies             274
idade               274
dtype: int64

In [66]:
#Quantas pessoas gostam do clima quente? 
df.loc[(df['clima']=='quente')].shape[0]

693